body{ margin: 0;}

#wrapper{
  display: flex;
  flex-direction: column;
  gap: 13px;
}

#wrapper > header, footer, aside, main {
  background-color: lightblue;
  font-size: 1.2em;
  color: rgb(45, 92, 167);
  padding: 12px;
  font-weight: bold;
}

#menu{
  position: absolute;
  top: 0; right:0;
  line-height: 35px;
  color: #444;
  padding: 12px;
  margin-right: 10px;
  cursor: pointer;
}

header{
  min-height: 40px;
}

header nav ul{
  padding: 0;
  font-size: 1.0em;
  font-weight: bold;
  color: #444;
}
header nav ul li{
  display: inline-block;
  padding: 0.2em;
  margin-right:0.8em;
}

div.maincontent{
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.maincontent > * {
  padding: 0.8em;
}

.maincontent > aside{
  min-width: 150px;
}

.maincontent > main{
  flex-grow: 1;
}

.maincontent .content{
  padding: 0.8em;
  margin: 1em;
  background-color: yellow;
  height: 65vh;
  color: black;
  font-weight: normal;
  white-space: pre-wrap;
}

footer{
  height: 200px;
}

@media (max-width:768px){
  header>nav{
    display:none;
  }
  #menu:hover + nav{
    display: inherit;
    text-align: right;
  }
  #menu:hover + nav li{
    display: block;
    padding: 0.3em;
  }
  
}

@media (min-width: 769px){
  #menu{
    display:none;
  }
}